{% extends "base.html" %}

{% block extrahead %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3KBPVM4THS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3KBPVM4THS');
</script>
{% endblock %}

{% block comments %}
  <script src="https://giscus.app/client.js"
        data-repo="WilliamAdamsWAG/PetrSU_IMIT_Helper"
        data-repo-id="R_kgDOUOgTHQ"
        data-category="Q&A"
        data-category-id="DIC_kwDOUOgTHc4DE7WZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ru"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}